.App {
  text-align: center;
}

.carousel-caption {
  text-align: left;
  bottom: 25%;
}

.bbb {
  font-size: 3rem;
}

.dropdown-content {
  position: absolute;

  display: none;

  background-color: #fff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  /* margin-top: 10px; */
}

.dropdown-content a {
  color: black;
  /* padding: 20px 16px; */
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 150px;
  padding: 20px;
  border-bottom: 1px dotted black;
}

.dropdown-content {
  display: block;
}
.dropdown-content ul {
  display: block;
  margin: 10px;
}
.dropdown-content ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
}
